# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build and cache files
dist/
build/
coverage/

# Temporary files
*.tmp
*.log

# Miscellaneous
*.swp
*.swo
*.bak
*.old
